<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- <meta charset="utf-8" http-equiv="Content-Security-Policy"
        content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='" /> -->
    <title>Gaïa Launcher</title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>

    <link type="text/css" rel="stylesheet" href="./assets/css/icons.css">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/main.less">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/sidebar.less">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/frame.less">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/popup.less">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/serverSelector.less">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/settings.less">

    <link type="text/css" rel="stylesheet/less" href="./assets/css/panels/server.less">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/panels/account.less">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/panels/launcher.less">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/panels/mods.less">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/panels/start.less">
    <link type="text/css" rel="stylesheet/less" href="./assets/css/panels/update.less">

    <script src="./assets/js/lib/less.js"></script>
</head>

<body bkid="<%=bkid%>">
    <%- include('frame') %>

    <div id="loadingContainer">
        <div id="loadingContent">
            <div id="loadSpinnerContainer">
                <img id="loadCenterImage" src="assets/images/logo_white.png">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <%- include('popup') %>
    <%- include('serverSelector') %>
    <%- include('login') %>

    <div id="main" style="display: none;">
        <%- include('logger') %>

        <%- include('sidebar') %>

        <div id="panels">
            <%- include('panels/server') %>
            <%- include('panels/account') %>
            <%- include('panels/launcher') %>
            <%- include('panels/start') %>
            <%- include('panels/mods') %>
            <%- include('panels/update') %>
        </div>
    </div>

    <!-- <script>
        // Load language
        for (let key of Object.keys(Lang.query('html'))) {
            document.getElementById(key).innerHTML = Lang.query(`html.${key}`)
        }
    </script> -->
</body>

</html>